@import "../../global.scss";

.portfolio {
    background-color: whitesmoke;
    display: flex;
    flex-direction: column;
    align-items: center;
    position: relative;

    .title {
        position: absolute;
        top: 20px;
        font-size: 60px;
        @include mobil {
            font-size: 30px;
        }
    }

    .container {
        width: 90%;
        height: 100%;
        margin-top: 100px;
        display: grid;
        grid-template-columns: repeat(4, 1fr);
        grid-gap: 10px;
        //grid-auto-rows: minmax(100px, auto);
        justify-content: space-between;
        @include mobil {
            width: 100%;
            grid-template-columns: repeat(1, 1fr);
        }

        .cards {
            height: 450px;
            margin: 0 auto;
            transition: all 1s ease;
            @include mobil {
                margin-top: 50px;
                //padding:150px;
                width: 100%;
                display: grid;
            }
        }
        .cards:hover {
            transform: scale(1.1);
        }
    }
}