@import "../../global.scss";

.intro {
    background-color: whitesmoke;
    display: flex;

    @include mobil{
        flex-direction:column;
        align-items: center;
    }

    .left {
        flex: 0.5;

        @include mobil {
           max-height: 250px;
        }
        
        .imageContainer {
            width: 500px;
            height: 500px;
            background-color: #2ae9b9;
            border-radius: 50%;
            align-items: center;
            transform: translateX(-100px) translateY(50px);
            overflow: hidden;

            @include mobil {
                height: 200px;
                align-items: end;
                transform: translateY(-40px);
            }

            img {
                height: 90%;
                transform: translateY(50px);
                

                @include mobil{
                    transform: translateX(150px) translateY(30px);
                }
            }
        }
    }
    .right {
        flex: 0.5;
        position: relative;
        
        .wrapper {
            display: flex;
            width: 100%;
            height: 100%;
            padding-left: 50px;
            flex-direction: column;
            justify-content: center;

            @include mobil {
                width: 100%;
                padding-left: 0;
                justify-content: center;
            }

            h1{
                font-size: 60px;
                margin: 10px 0;
                @include mobil {
                    font-size: 35px;
                }
            }
            h2{
                font-size: 25px;
                @include mobil {
                    font-size: 20px;
                }
            }
            h6 {
                font-size: 30px;
                @include mobil {
                    font-size: 20px;
                }

                span {
                    font-size: inherit;
                    color: #ee0e89;
                }
                .ityped-cursor{
                    animation: blink 1s infinite;
                }

                @keyframes blink {
                    50% {
                        opacity: 1;
                    }
                    100%{
                        opacity: 0;
                    }
                }
            }

        }

        a{
            position: absolute;
            bottom: 10px;
            @include mobil {
                bottom:0px;
                left: 40%;
            }
        }
        #linkPortfolio {
           font-size: 80px; 
           animation: clignotte 2s infinite; 
        }

        @keyframes clignotte {
            100% {
                opacity: 0;
            }
        }

        .cv {
            display: none;
        }
    }
}